<div class="authorName">
  <%= @post.author %>
</div>

<a href="" class="js-next" data-id="<%=@post.id%>">
  Next...
</a>

<h1 class="postTitle">
  <%= @post.title %>
</h1>

<p class="postBody">
  <%= @post.description %>
</p>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function(e) {
      e.preventDefault();
      
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      //Here we grab the data-id attribute value, use parseInt() so we can cast it and add one to it so we can request the next post.
      
      $.getJSON("/posts/" + nextId + "/post_data", function(data) {
          $(".authorName").text(data["author"]["name"]);
          $(".postTitle").text(data["title"]);
          $(".postBody").text(data["description"]);
          
          // re-set the id to current on the link
          $(".js-next").attr("data-id", data["id"]);
      });
    });
  });
</script>