<h1 class="postTitle"><%= @post.title %></h1>
<!-- <div class="authorName"><p><%#= @post.author.name %></p></div> -->
<p class="postBody"><%= @post.description %></p>
<a href="#" class="js-next" data-id="<%=@post.id%>">Next...</a>