<div class="authorName"><%= @post.author.name %></div>
<a href="#" class="js-next" data-id="<%=@post.id%>">Next...</a>
<h1 class="postTitle"><%= @post.title %></h1>
<p class="postBody"><%= @post.description %></p>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function() {
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/posts/" + nextId + "/post_data", function(data) {
          var post = JSON.parse(data)
        $(".authorName").text(post["author"]["name"]);
        $(".postTitle").text(post["title"]);
        $(".postBody").text(post["description"]);
        $(".js-next").attr("data-id", post["id"]);
      });
    });
  });
</script>